<div class="home1">
  <img style="height:300px; width: 90%;" src="http://cs624120.vk.me/v624120633/329d5/bI1m29RxaM8.jpg"/>
  <p id="p">Меня зовут Надежда Дроздова.  Я начала заниматься фотографией в 2012 году. Люблю фотографировать людей и их жизнь.
  Открыта для предложений и идей по совметной работе</p>
</div>
