<div class="home1">
  <img style="height:300px; width: 90%;" src="http://cs624120.vk.me/v624120633/329d5/bI1m29RxaM8.jpg"/>
  <p id="p">Меня зовут Надежда Дроздова. Я начала заниматься фотографией в 20ХХ году. Люблю фотографировать в таких-то жанрах.
  Открыта для предложений и идей по совметной работе</p>
</div>
