<div class="main home">
  <h1>Контакты</h1>
  <p><a href="http://vk.com/per_fect_little"><%= image_tag "vk.jpg", class:"vk"%></a> <a href="http://vk.com/per_fect_little">http://vk.com/per_fect_little</a>  </p>
  <p><a href="mailto:nadejda.drozdova@mail.ru?cc=nadejda.drozdova@mail.ru"><%= image_tag "email.jpeg", class:"email"%></a><a href="mailto:nadejda.drozdova@mail.ru?cc=nadejda.drozdova@mail.ru">nadejda.drozdova@mail.ru</a></p>
  <p><a href="https://www.instagram.com/photonadzila.by/"><%= image_tag "instagram.jpeg", class:"instagram"%></a><a href="https://www.instagram.com/photonadzila.by/">https://www.instagram.com/photonadzila.by/</a></p>
</div>