
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2> Фотография - это не спорт. У нее нет правил. Все должно быть испробовано.<br>
        &copy; Bill Brandt</h2>
      <a class="btn right" href="portfolio">Посмотреть мои работы</a>
    </div>
  </div>
</div>
